# requirements.txt

# Django & DRF
Django>=4.2
djangorestframework
djangorestframework-simplejwt

# Channels
channels
channels_redis
daphne

# PostgreSQL
psycopg2-binary

# cors
django-cors-headers
Pillow
