.App {
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* 관리자 페이지 레이아웃 */
.admin-page-wrapper {
    display: flex;
    min-height: calc(100vh - 56px); /* 전체 화면 높이에서 Navbar 높이(56px)를 뺀 값 */
}

.admin-content-container {
    flex-grow: 1; /* 남은 공간을 모두 차지 */
    padding: 2rem; /* 콘텐츠 영역의 여백 */
}